# Python
alias py="python3"
alias venv="python3 -m venv .venv && source .venv/bin/activate"
alias venvi="python3 -m venv .venv && source .venv/bin/activate && pip3 install -r requirements.txt"
alias pybuild="rm -rf build dist && python setup.py py2app -A"
alias pytree="tree -I '__pycache__|dist|build|.git|.DS_Store|.venv' -a"
alias freeze="pip freeze > requirements.txt"
alias cgpt="openai api chat.completions.create --stream -m gpt-4 --message user"
alias tree="tree -I '__pycache__'"
alias pyv="python3 -V"
alias activate="source .venv/bin/activate"

# Django
alias runserver='python3 manage.py runserver'
alias makemigrations='python3 manage.py makemigrations'
alias migrate='python3 manage.py migrate'

# Other
alias ls="ls -FG"
alias which="which -a"
alias path="python -c \"import os; path = os.environ['PATH'].split(':'); print('\n'.join(path))\""
alias ghrd="gh repo delete"
alias dots="ls -d .*"
alias runc="cc main.c && ./a.out"

# SSH
alias pro="ssh home@192.168.100.99"
alias libre="ssh christian@192.168.100.148"
alias air="ssh christianisaman@192.168.100.102"
alias hosts="cat /etc/hosts"

# code
alias dotfiles="code ~/.dotfiles"
alias aliases="code ~/.aliases"
